* {
    margin: 0;
    padding: 0;
}

.fix {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 1024px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
}

.fix .header {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 380px;
    align-items: center;
    justify-content: space-between;
    gap: 398px 10px;
    padding: 35px 5px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
}

.fix .div-wrapper {
    display: flex;
    width: 61px;
    align-items: center;
    gap: 10px;
    padding: 4px 10px;
    position: relative;
}

.fix .text-wrapper {
    margin-right: -4px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.fix .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.fix .div-wrapper-3 {
    display: flex;
    width: 61px;
    align-items: center;
    gap: 10px;
    padding: 4px 10px;
    position: relative;
}

.fix .text-wrapper-3 {
    margin-right: -4px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.fix .line1 {
    position: relative;
    width: 1444px;
    height: 7px;
    top: 200px;
    margin-bottom: -8px;
    margin-left: -4px;
    margin-right: -5px;
}

.fix .MyEmoji {
    display: inline-flex;
    flex-direction: column;
    width: 1440px;
    height: 298px;
    top: 170px;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 522px;
    position: absolute;
    background-color: #ffffff;
}

.fix .MyEmoji-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 23px;
    position: relative;
    flex: 0 0 auto;
}

.fix .IMG {
    position: relative;
    width: 332px;
    height: 298px;
    object-fit: cover;
}


.fix .frame {
    position: relative;
    align-self: stretch;
    width: 1440%;
    height: 3px;
}

.frame .line2 {
    position: absolute;
    width: 1433px;
    height: 9px;
    top: 30px;
    left: 7px;
}

.fix .Info-Container {
    position: relative;
    width: 1442px;
    height: 451px;
    margin-right: -2px;
    background-color: #ffffff;
    overflow: hidden;
}

.fix .overlap-group {
    position: relative;
    width: 1445px;
    height: 410px;
    top: 20px;
    left: -3px;
}

.fix .text-container {
    display: flex;
    width: 1442px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    position: absolute;
    top: 0;
    left: 3px;
}

.fix .Info-1 {
    position: relative;
    width: 372px;
    height: 91px;
}

.fix .text-1 {
    position: relative;
    width: 280px;
    margin-top: -1px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.fix .Info-2 {
    position: relative;
    width: 372px;
    height: 91px;
}

.fix .text-2 {
    position: absolute;
    width: 338px;
    top: -10px;
    left: -68px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.fix .Info-3 {
    position: relative;
    width: 330px;
    height: 89px;
}

.fix .text-3 {
    position: absolute;
    width: 291px;
    top: -11px;
    left: -130px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.fix .IMG-container {
    display: flex;
    width: 1445px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
    position: absolute;
    top: 80px;
    /* left: 0; */
    background-color: #ffffff;
}

.fix .img-2 {
    position: relative;
    width: 282px;
    height: 273px;
}

.fix .IMG-2 {
    position: absolute;
    width: 222px;
    height: 203px;
    top: 35px;
    left: 30px;
    object-fit: cover;
}

.fix .img-3 {
    position: relative;
    width: 288px;
    height: 259px;
}

.fix .IMG-3 {
    position: absolute;
    width: 270px;
    height: 240px;
    top: 0px;
    left: -64px;
    object-fit: cover;
}

.fix .img-4 {
    position: relative;
    width: 290px;
    height: 264px;
}

.fix .IMG-4 {
    position: absolute;
    width: 217px;
    height: 187px;
    top: 39px;
    left: -140px;
    object-fit: cover;
}